* {
  font-family: Helvetica;
}

body {
  background-color: white;
  text-align: center;
  background-image: image(CSS/Media/the-flatiron-building.png);

h1 {
  color: blue;
  background-image: image(CSS/Media/the-flatiron-building.png);
}

p,
li {
  font-size: 18px;
}

a {
  text-decoration: none;
}
