* {
  font-family: Helvetica;
}

body {
  background-color: white;
  text-align: center;

}

.Broadway {
  color: white;
  background-image: url(..//CSS/Media/the-flatiron-building.png);
}

p,
li {
  font-size: 18px;
}

a {
  text-decoration: none;
}
